.text {
    display: block;
    width: 91px;
    top: 379px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #967675;
}